<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
  <title>Hello World!</title>
</head>
<body>
<h1 th:inline="text">Hello [[${#httpServletRequest.remoteUser}]]!</h1>
<h1>Upload new Photo</h1>
<form method="POST" action="/photos/add" enctype="multipart/form-data">
  Title:<input type="text" name="title" />
  Description:<input type="text" name="description"/>
  Location:<input type="text" name="location"/>
  Image:<input type="file" name="image" accept="image/*" />
  <input type="submit" value="Upload" />
</form>
<form method="GET" action="/photos/getByFileName" enctype ="multipart/form-data">
  Pull up photo with this filename:<input type="text" name="filename"/>
  <input type="submit" value="Search"/>
</form>
<form method="POST" action="#">
  Delete photo with this filename: <input type="text" name= "id" value="photo.id">
  <input type="hidden" name="_csrf" value="{_csrf}">
  <input type="hidden" name="_method" value="DELETE">
  <input type="submit" value="Delete">
</form>
<form th:action="@{/logout}" method="post">
  <input type="submit" value="Sign Out"/>
</form>
</body>
<script>

</script>
</html>